workflows/openclaw-cost-alert.json
{
  "name": "OpenClaw Cost Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openclaw-cost-alerts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cost-trigger",
      "name": "Webhook - Cost Alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "openclaw-cost-alerts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.event_type }}",
              "rightValue": "cost.alert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-cost-alert",
      "name": "If Cost Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 250]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "options": {},
        "otherOptions": {},
        "content": "slack",
        "attachment": [
          {
            "fallback": "Cost Alert",
            "color": "#ff6f00",
            "title": "⚠️ Cost Alert",
            "fields": [
              {
                "title": "Message",
                "value": "={{ $json.body.data.message || $json.body.data.description || 'Cost threshold warning' }}",
                "short": false
              },
              {
                "title": "Current Cost",
                "value": "={{ $json.body.data.current_cost || $json.body.data.spent || 'N/A' }}",
                "short": true
              },
              {
                "title": "Budget",
                "value": "={{ $json.body.data.budget || $json.body.data.limit || 'N/A' }}",
                "short": true
              },
              {
                "title": "Severity",
                "value": "={{ $json.body.data.severity || 'warning' }}",
                "short": true
              },
              {
                "title": "Period",
                "value": "={{ $json.body.data.period || 'monthly' }}",
                "short": true
              }
            ],
            "ts": "={{ Math.floor(Date.now() / 1000) }}"
          }
        ]
      },
      "id": "slack-cost-alert",
      "name": "Slack - Cost Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 3,
      "position": [720, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {ok: true, received: true, event_id: $json.body.event_id} }}",
        "options": {}
      },
      "id": "respond-ok-cost",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook - Cost Alerts": {
      "main": [
        [
          {
            "node": "If Cost Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cost Alert": {
      "main": [
        [
          {
            "node": "Slack - Cost Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Cost Alert": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
